<!DOCTYPE html>
<html>

{% include 'partials/header.html'%}

	<body id="main">
		<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-default bg-faded">
			<input type="checkbox" id="navbar-toggle-cbox">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">myList</a>
				<label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#newnav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</label>
			</div>

		  <div class="collapse navbar-collapse" id="newnav">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a href="../.." class="nav-link">List</a></li>
					<li class="nav-item"><a href="../add" class="nav-link">Add</a></li>
					<li class="nav-item"><a href="../edit" class="nav-link">Edit</a></li>
					<li class="nav-item active"><a href="#" class="nav-link">Imprint</a></li>
				</ul>
			</div>
		</nav>

		<h1>Imprint</h1>

    <ul class="list-group">
      <li class="list-group-item">Benedikt Kettler</li>
      <li class="list-group-item">Steffen Brand</li>
      <li class="list-group-item">Lukas Seidel</li>
    </ul>
		</div>
	</body>
</html>
